POSTGRES_USER=admin_user
POSTGRES_PASSWORD=change_me_admin_password
POSTGRES_DB=companydata

ADMIN_DB_HOST=operational-db
ADMIN_DB_PORT=5432
ADMIN_DB_NAME=companydata
ADMIN_DB_USER=admin_user
ADMIN_DB_PASSWORD=change_me_admin_password

DS_DB_USER=ds_reader
DS_DB_PASSWORD=change_me_ds_password
DS_DB_ROLE=ds_user_role

MLE_DB_USER=mle_writer
MLE_DB_PASSWORD=change_me_mle_password
MLE_DB_ROLE=mle_user_role

AIRFLOW_ADMIN_USERNAME=airflow_admin
AIRFLOW_ADMIN_PASSWORD=change_me_airflow_password
AIRFLOW_ADMIN_FIRSTNAME=Air
AIRFLOW_ADMIN_LASTNAME=Flow
AIRFLOW_ADMIN_EMAIL=airflow@example.com
AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=postgresql+psycopg2://admin_user:change_me_admin_password@operational-db:5432/companydata
